
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Sta iedereen (tijdelijk) toe om bestanden te schrijven naar de 'voorschriften' map.
    // Voor productie is authenticatie vereist.
    match /voorschriften/{allPaths=**} {
      allow read;
      allow write;
    }
  }
}
